@model List<UserListViewModel>

<h3 class="text-center">Users List</h3>
<a asp-controller="User" asp-action="Create" class="btn btn-sm btn-primary">New User</a>
<hr />
<div class="container-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FullName</th>
                <th scope="col">Email</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">JoinDate</th>
                <th>CRUD</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td style="width:10px">@user.Id</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.JoinDate.ToString("yyyy-MM-dd")</td>
                    <td style="width:195px">
                        <a asp-controller="User" asp-action="Detail" asp-route-id="@user.Id" class="btn btn-sm btn-info">Details</a>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>