@model List<AuthorListViewModel>

<h3 class="text-center">Authors List</h3>
<a asp-controller="Author" asp-action="Create" class="btn btn-sm btn-primary">New Author</a>
<hr />
<div class="container-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">DateOfBirth</th>
                <th>CRUD</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var author in Model)
            {
                <tr>
                    <td style="width:10px">@author.Id</td>
                    <td>@author.FirstName</td>
                    <td>@author.LastName</td>
                    <td>@author.DateOfBirth.ToString("yyyy-MM-dd")</td>
                    <td style="width:195px">
                        <a asp-controller="Author" asp-action="Detail" asp-route-id="@author.Id" class="btn btn-sm btn-info">Details</a>
                        <a asp-controller="Author" asp-action="Edit" asp-route-id="@author.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-controller="Author" asp-action="Delete" asp-route-id="@author.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>